<!DOCTYPE html>
<html>

<head>
   <title>Ups!404</title>s
   <link rel="icon" href="css/img/weather-icon.png">
   <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="main-content">
      {{>header}}
      <p{{errorMessage}}></p>
      <img src="/css/img/404.jpg">
    </div>
  
    {{>footer}}
</body>

 
</html>


